@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  transition: 0.5s;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #fff;
  box-shadow: 0 4px 25px -22px black;
  z-index: 2;
}

.header-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

.logo h1 b {
  color: #f20530;
}

.menu {
  height: 80px;
}

.menu nav {
  height: 100%;
}

.menu nav ul {
  height: 100%;
  display: flex;
  list-style: none;
}

.menu nav ul li {
  height: 100%;
  margin: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menu-selected:before {
  content: "";
  width: 100%;
  height: 4px;
  background: #f20530;
  position: absolute;
  top: 0;
  left: 0;
}

.menu nav ul li a {
  color: #000;
  font-size: 18px;
  transition: color 300ms;
}

.menu nav ul li a:hover {
  color: #f20530;
}

.menu .text-menu-selected {
  color: #f20530;
}

.menu nav ul li a i {
  display: none;
}

#icon-menu {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 20px;
  top: 16px;
  padding: 10px;
  font-size: 20px;
  background: #ffff;
  border-radius: 100%;
  color: #000;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#icon-menu:hover {
  opacity: 0.8;
}

/*Portada*/

.container-cover {
  width: 100%;
  height: 500px;
  position: relative;
  margin-top: 80px;
  background-image: url(../img/img7.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-cover:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.container-info-cover {
  max-width: 800px;
  height: 500px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.container-info-cover h1 {
  font-size: 60px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 20px;
}

.container-info-cover p {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

/*Contenedor - contenido del articulo*/

.container-content {
  width: 1200px;
  margin: auto;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

article {
  width: 100%;
  padding: 20px;
  padding-bottom: 40px;
  box-shadow: -10px 0 20px -30px black;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}

article:before {
  content: "";
  width: 100%;
  height: 6px;
  position: absolute;
  top: 0;
  left: 0;
  background: #46a2fd;
}

article h1 {
  margin-top: 20px;
  font-weight: 500;
  font-size: 40px;
}

article p {
  margin-top: 20px;
  font-size: 18px;
  color: #3c3c3c;
}

article img {
  width: 100%;
  margin-top: 20px;
}

/*Aside de los articulos de relacionados*/

.container-aside aside {
  width: 320px;
  border-right: 6px;
  box-shadow: 0 0 20px -20px black;
  border-radius: 6px;
  overflow: hidden;
  margin-left: 40px;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

.container-aside aside img {
  width: 100%;
}

.container-aside aside h2,
.container-aside aside p {
  margin-top: 20px;
  padding: 0px 20px;
}

.container-aside aside button {
  margin-top: 20px;
  margin-left: 20px;
  padding: 10px 50px;
  font-size: 16px;
  background: #f20530;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 6px;
}

.container-aside aside button:hover {
  opacity: 0.9;
}

/*Footer - pie de pagina*/

.container-footer {
  width: 100%;
  padding: 40px 0;
  background: #fff;
  margin-top: 10px;
}

.container-footer footer {
  max-width: 1200px;
  margin: auto;
}

.logo-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 1%;
}

.id {
  border-left: 2px solid #f20530;
  margin-left: 5%;
  margin-right: 5%;
}

.link-footer {
  color: #000;
  text-decoration: none;
  margin-left: 10px;
}

.link-footer:hover {
  color: #f20530;
}

.container-footer footer .logo-footer {
  text-align: center;
}

.container-footer footer .logo-footer img {
  width: 100px;
}

.container-footer footer .redes-footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.container-footer footer .redes-footer .icon-redes-footer {
  font-size: 20px;
  margin: 20px;
  background: #efefef;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  color: #000;
}

footer .redes-footer .fa-facebook-f:hover {
  background: #41579a;
  color: #fff;
}

footer .redes-footer .fa-google-plus-g:hover {
  background: #de4c34;
  color: #fff;
}

footer .redes-footer .fa-instagram:hover {
  background: linear-gradient(
    to top right,
    #fcde30,
    #e9712a,
    #d2313b,
    #ae4198,
    #7540a1,
    #5443a8
  );
  color: #fff;
}

.container-footer footer hr {
  margin-top: 20px;
  border: none;
  height: 2px;
  background: #000;
}

.container-footer h4 {
  text-align: center;
  margin-top: 40px;
  color: #000;
  font-weight: 500;
}

hr::before {
  color: #f20530;
  border-color: #f20530;
  background-color: #f20530;
  background: #f20530;
}
/* section de benida */

.img-bien {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: 50%;
  max-width: 50%;
  padding: 1%;
}

.title-bien {
  text-align: center;
  margin-top: 2.5em;
  margin-bottom: 1em;
  font-size: 20px;
}

.sp {
  color: #f20530;
}

.subtitle-bien-1,
.subtitle-bien-2 {
  text-align: center;
  margin-bottom: 0.3em;
}

.p-bien-1 {
  width: 60%;
  font-weight: 60%;
  max-width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 1%;
}

/* section de servicio */

.servis {
  margin-top: 5%;
}

.linea-servis {
  border-top: 2px solid #f20530;
}

.img-item-servis {
  width: 320px;
  font-weight: 320px;
  max-width: 320px;
  padding: 1%;
}

.cont-servis {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 5%;
  align-content: space-around;
  flex-wrap: wrap;
}

.item-list {
  margin-left: 2%;
}

.subtitle-servis {
  margin-bottom: 3.5%;
  font-size: 18px;
}

.subtitle-2-servis-item {
  margin-top: 2%;
  font-size: 16px;
}

.number-list-servis {
  margin-top: 0.3em;
}

/* section de cortes */

.contenedor-imagenes {
  display: flex;
  width: 85%;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 3px;
}

.contenedor-imagenes .imagen {
  width: 18%;
  position: relative;
  height: 350px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

.imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;

  bottom: 0;
  left: 0;
  background: rgba(242, 5, 49, 0.439);
  /* background: rgba(82, 84, 85, 0.582); */
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 0.5s ease;
}

.overlay h2 {
  color: #fff;
  font-weight: 300;
  font-size: 20px;
  position: absolute;
  top: 45%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.overlay-cta {
  position: absolute;
  top: 70%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: #fff;
  border: 1px solid #fff;
  padding: 0.3em 0.5em;
  font-size: 15px;
}

.imagen:hover .overlay {
  height: 100%;
  cursor: pointer;
}

.boton-cont-gallery {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  text-align: center;
}

.title-cortes {
  text-align: center;
  font-size: 18px;
  margin-top: 1%;
  margin-bottom: 0.8em;
}

.linea-cort {
  border-top: 2px solid #f20530;
  text-align: center;
  width: 5%;
  max-width: 5%;
  font-weight: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
}

/* section surcursales */

.img-sur {
  width: 320px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
  font-weight: 320px;
  max-width: 320px;
}

.p-sur {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 38%;
  padding: 1%;
}

.subtitle-sur {
  text-align: center;
  font-size: 16px;
  margin-top: 0.5em;
  margin-bottom: 0.8em;
  padding: 1%;
}

.cont-sur {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto;
  width: 100%;
  font-weight: 100%;
  max-width: 100%;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title-sur {
  text-align: center;
  margin-top: 2.5em;
  margin-bottom: 1.5em;
}

/* section mensaje */

.mensaje {
  margin-top: 5%;
  background: #f2f2f2;
}

.cont-mensaje {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto;
  align-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
}

.item-mensaje {
  text-align: center;
}

#text-cta,
#tel-cta,
#email-cta {
  width: 38%;
  height: 2.5em;
  border: 1px solid #f20530;
  color: #000;
  margin-top: 0.8em;
  margin-bottom: 1em;
  padding: 2%;
  max-width: 38%;
  font-weight: 38%;
}

#textarea {
  width: 38%;
  height: 10%;
  border: 1px solid #f20530;
  margin-bottom: 1.5em;
  padding: 2%;
}

#boton-cta {
  width: 38%;
  height: 2.5em;
  font-size: 13px;
  color: #fff;
  background: #f20530;
  border: 1px solid #f20530;
  margin-top: 2em;
  cursor: pointer;
  margin-bottom: 6%;
  text-align: center;
  padding: 1%;
}

#boton-cta:hover {
  background: #f8133d;
  border: 1px solid #f8133d;
}

.title-mensaje {
  text-align: center;
  font-size: 20px;
  margin-top: 1em;
  margin-bottom: 0em;
  padding: 2%;
}

.btn-wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background: #f20530;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.btn-wsp:hover {
  text-decoration: none;
  color: #f20530;
  background: #fff;
}

p {
  margin-bottom: 20px;
  line-height: 150%;
}

main {
  margin: 20px auto;
  max-width: 1000px;
  background: #fff;
  min-height: 80vh;
  padding: 20px;
  border-radius: 10px;
}

.aviso-cookies {
  display: none;
  background: #fff;
  padding: 20px;
  width: calc(100% - 40px);
  max-width: 300px;
  line-height: 150%;
  border-radius: 10px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 100;
  padding-top: 60px;
  box-shadow: 0px 2px 20px 10px rgba(222, 222, 222, 0.25);
  text-align: center;
}

.aviso-cookies.activo {
  display: block;
}

.aviso-cookies .galleta {
  max-width: 100px;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.aviso-cookies .titulo,
.aviso-cookies .parrafo {
  margin-bottom: 15px;
}

.aviso-cookies .boton {
  width: 100%;
  background: #f20530;
  border: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 15px 20px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease all;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 14px;
}

.aviso-cookies .boton:hover {
  background: #000;
}

.aviso-cookies .enlace {
  color: #f20530;
  text-decoration: none;
  font-size: 14px;
}

.aviso-cookies .enlace:hover {
  text-decoration: underline;
}

.fondo-aviso-cookies {
  display: none;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.fondo-aviso-cookies.activo {
  display: block;
}

/* Responsive Design - adaptable a dispositivos moviles*/

@media screen and (max-width: 1220px) {
  .header-content,
  .container-content,
  .container-footer footer {
    max-width: 1000px;
    padding: 0 20px;
  }
}

@media screen and (max-width: 1020px) {
  .container-content {
    width: 100%;
    flex-direction: column;
  }

  article {
    box-shadow: 0 0 0 0;
  }

  .container-aside {
    display: flex;
    justify-content: center;
  }

  .container-aside aside {
    max-width: 300px;
    margin: 10px;
  }
}

@media screen and (max-width: 800px) {
  body {
    overflow-x: hidden;
  }

  .container-all {
    transition: all 300ms cubic-bezier(1, 0, 0, 1);
  }

  .move-container-all {
    transform: translateX(300px);
  }

  .menu {
    width: 0px;
    height: 100vh;
    position: fixed;
    top: 80px;
    left: 0;
    background: #fff;
    overflow: hidden;
    transform: translateX(-350px);
    box-shadow: 10px 0 20px -25px black;
    transition: all 300ms cubic-bezier(1, 0, 0, 1);
  }

  .show-lateral {
    width: 300px;
    transform: translateX(0px);
  }

  .menu nav ul {
    flex-direction: column;
  }

  .menu nav ul li {
    max-width: 200px;
    height: 50px;
    justify-content: flex-start;
  }

  .menu-selected:before {
    width: 0;
  }

  .menu nav ul li a {
    margin-top: 40px;
    color: #000;
  }

  .menu nav ul li a i {
    width: 20px;
    display: inline-block;
    margin-right: 10px;
    color: #f20530;
  }

  #icon-menu {
    display: flex;
  }

  .container-aside {
    flex-wrap: wrap;
  }

  /* section de surcursales */
}

@media screen and (max-width: 700px) {
  .contenedor-imagenes {
    width: 90%;
  }

  .contenedor-imagenes .imagen {
    width: 48%;
  }

  .container {
    margin-bottom: 120%;
  }

  /* section surcursales */

  .img-sur {
    width: 320px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    font-weight: 320px;
    max-width: 320px;
  }

  .p-sur {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    padding: 1%;
  }

  .subtitle-sur {
    text-align: center;
    font-size: 16px;
    margin-top: 0.5em;
    margin-bottom: 0.8em;
    padding: 1%;
  }

  .cont-sur {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto;
    width: 100%;
    font-weight: 100%;
    max-width: 100%;
  }

  iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
  }

  .title-sur {
    text-align: center;
    margin-top: 2.5em;
    margin-bottom: 1.5em;
  }
}

@media screen and (max-width: 450px) {
  .logo h1 {
    font-size: 22px;
  }

  .contenedor-imagenes {
    width: 98%;
  }

  .contenedor-imagenes .imagen {
    width: 80%;
  }

  .galeria h1 {
    font-size: 18px;
  }

  /* section de tarjeta */

  .container {
    margin-bottom: 200%;
  }

  .linea-cort {
    border-top: 2px solid #f20530;
    text-align: center;
    width: 20%;
    max-width: 20%;
    font-weight: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
  }

  #textarea {
    width: 90%;
    font-weight: 90%;
    max-width: 90%;
    padding: 5%;
    height: 10%;
    border: 1px solid #f20530;
    margin-bottom: 1.5em;
  }

  #boton-cta {
    width: 90%;
    font-weight: 90%;
    max-width: 90%;
    padding: 5%;
    height: 2em;
    font-size: 15px;
    color: #fff;
    background: #f20530;
    border: 1px solid #f20530;
    margin-top: 2em;
  }

  #text-cta,
  #tel-cta,
  #email-cta {
    width: 90%;
    height: 2.5em;
    border: 1px solid #f20530;
    color: #000;
    margin-top: 0.8em;
    margin-bottom: 1em;
    padding: 5%;
    max-width: 90%;
    font-weight: 90%;
  }
}

@media screen and (max-width: 1000px) {
  .contenedor-imagenes {
    width: 95%;
  }
}
